body {
    background-image: url(./istockphoto-636823058-612x612.jpg);
    background-size:auto;
    color: #e96537;
    text-transform: capitalize;
}

#title{
    text-align: center;
    color: #e96537;
}

.recipe {
    background-color: #fff;
    height: auto;
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card {
    width: 300px;
}